h1 {
    width: 40% !important;
    display: block !important;
    margin: auto !important;
    text-align: center !important;
    padding: 20px !important;
}

iframe{
    width: 50%;
    display: block;
    margin: auto;
}
